### DYNAMIC CONTEXT
{% if previous_summary %}
### PREVIOUS SUMMARY
{{ previous_summary }}

### CONVERSATION
{% else %}
### CONVERSATION
{% endif %}
{% for msg in messages %}
{{ msg.sender }}: {{ msg.text }}
{% endfor %}

### SUMMARY